USE [master]
GO
/****** Object:  Database [TodoGenericDb]    Script Date: 5/9/2021 6:17:30 PM ******/
CREATE DATABASE [TodoGenericDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TodoGenericDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TodoGenericDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TodoGenericDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TodoGenericDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TodoGenericDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TodoGenericDb]
GO
/****** Object:  Table [dbo].[Todo]    Script Date: 5/9/2021 6:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Todo](
	[TodoId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](60) NOT NULL,
	[Description] [varchar](80) NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_TODO] PRIMARY KEY CLUSTERED 
(
	[TodoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Todo] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
USE [master]
GO
